<div class="">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Enroll No.</th>
                <th>Name</th>
                <th>Marks</th>
                <th>Percentage</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody id="idhar">
            <tr *ngFor="let item of list">
                <td>{{ item.enroll_no }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.semesters[sem-1].total_marks }}/{{ item.semesters[sem-1].max_marks }}</td>
                <td>{{ item.semesters[sem-1].percentage.toFixed(2) }}%</td>
                <td>{{ item.enroll_no }}</td>
            </tr>
        </tbody>
    </table>
</div>