<div class="row" style="height: 100vh">
    <div class="col-lg-4 offset-lg-4 d-flex flex-column m-auto">
        <div class="d-flex flex-column m-auto text-center">
            <h4>Please Enter Your University Roll Number</h4>
            <form>
                <div class="form-group">
                    <input id="enroll" type="text" class="form-control" placeholder="01415002716" #roll>
                </div>
                <button type="submit" (click)="clicked(roll.value)" class="mb-2 btn btn-sm btn-dark bg-dark mr-1 px-5">SUBMIT</button>
            </form>
        </div>
    </div>
</div>