tbody > tr {
    transition: all 0.2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

tbody tr:nth-of-type(even) {
    background-color: white;
}
tbody tr:nth-of-type(odd) {
    background-color: rgb(240, 240, 240);
}


tbody > tr:hover {
    transform: scale(1.05);
    transition-duration: .2s;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #a9a9a9;
    font-weight: bold;
}

tbody {
    overflow: visible;
}

.table-responsive {
    overflow: visible;
}