<h1>IPU Ranklist v1.0 <span class="badge badge-sm badge-dark" style="font-size: 0.4em;"> ALPHA</span></h1>
<hr>
<form class="flexbox" class="header-form" #f="ngForm">
    <div class="form-group">
        <select name="college" id="college" class="form-control" [(ngModel)]="defaultSelection.college" required>    
            <option *ngFor="let insti of instis" [title]="insti.name" [value]="insti.abbrev">{{ insti.abbrev }}</option>
        </select>
    </div>
    <div class="form-group">
        <select name="shift" id="shift" class="form-control" [(ngModel)]="defaultSelection.shift" required>
            <option value="M">Morning</option>
            <option value="E">Evening</option>
            <option value="0">Both</option>
        </select>
    </div>
    <div class="form-group">
        <select name="batch" id="batch" class="form-control" [(ngModel)]="defaultSelection.batch" required>
            <option value=15>2015 - 2019</option>
            <option value=16>2016 - 2020</option>
            <option value=17>2017 - 2021</option>
            <option value=18>2018 - 2022</option>
            <option value=19 disabled>2019 - 2023</option>
        </select>
    </div>
    <div class="form-group">
        <select name="branch" id="branch" class="form-control" [(ngModel)]="defaultSelection.branch" required>
            <option *ngFor="let course of courses" [value]="course.branch">{{ course.branch }}</option>
        </select>
    </div>
    <div class="form-group">
        <select name="sem" id="sem" class="form-control" [(ngModel)]="defaultSelection.sem" required>
            <option value="1">Sem 1</option>
            <option value="2">Sem 2</option>
            <option value="3">Sem 3</option>
            <option value="4">Sem 4</option>
            <option value="5">Sem 5</option>
            <option value="6">Sem 6</option>
            <option value="7">Sem 7</option>
            <option value="8">Sem 8</option>
            <option value="0" disabled>Overall</option>
        </select>
    </div>
</form>