<h1>IPU Ranklist v3.0</h1>
<hr>
<form class="flexbox" style="display: flex; justify-content: space-around;">
    <div class="form-group">
        <select name="college" id="college" class="form-control">
            <option value="msitM">MSIT - Morning</option>
            <option value="msitE">MSIT - Evening</option>
            <option value="maitM">MAIT - Morning</option>
            <option value="maitE">MAIT - Evening</option>
            <option value="bvpM">BVP - Morning</option>
            <option value="bvpE">BVP - Evening</option>
        </select>
    </div>
    <div class="form-group">
        <select name="batch" id="batch" class="form-control">
            <option value="15">2015 - 2019</option>
            <option value="16">2015 - 2020</option>
            <option value="17">2015 - 2021</option>
            <option value="18">2015 - 2022</option>
            <option value="19" disabled>2019 - 2023</option>
        </select>
    </div>
    <div class="form-group">
        <select name="course" id="course" class="form-control">
            <option value="cse">CSE</option>
            <option value="it">IT</option>
            <option value="ece">ECE</option>
            <option value="eee">EEE</option>
        </select>
    </div>
    <div class="form-group">
        <select name="sem" id="sem" class="form-control">
            <option value="1">Sem 1</option>
            <option value="2">Sem 2</option>
            <option value="3">Sem 3</option>
            <option value="4">Sem 4</option>
            <option value="5">Sem 5</option>
            <option value="6">Sem 6</option>
            <option value="7">Sem 7</option>
            <option value="8">Sem 8</option>
        </select>
    </div>
</form>