<h5 *ngIf="validStudent === -1" align="center">Sorry. No data for this enrollment number was found! 😧</h5>
<div *ngIf="validStudent == 1">
    <h4 class="display-5" align="right">{{student.name}} ({{student.enroll_no}})</h4>
    <p align="right">{{findCollegeName(student.insti_code)}}</p>

    <div class="row">
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <!-- <li class="nav-item" [ngClass]="{active: selectedSem===0}" (click)="tabChange(0)">
                    <a class="nav-link">Overall</a>
                </li> -->
                <li class="nav-item" [ngClass]="{active: selectedSem===sem}" *ngFor="let sem of sems"
                    (click)="tabChange(sem)">
                    <a class="nav-link">{{ sem === 0? 'Overall': ('Sem ' + sem) }}</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-12 jumbotron">
                    <table class="modal-data">
                        <tr>
                            <td>
                                <p><b>Marks: </b>&nbsp;
                                    {{student['semesters'][selectedSem].total_marks}}/{{student['semesters'][selectedSem].max_marks}}
                                </p>
                            </td>
                            <td>
                                <p><b>Percentage: </b>&nbsp;
                                    {{student['semesters'][selectedSem].percentage.toFixed(3)}}%</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>Total Credit Marks: </b>&nbsp;
                                    {{student['semesters'][selectedSem].total_credit_marks}}/{{student['semesters'][selectedSem].max_credit_marks}}
                                </p>
                            </td>
                            <td>
                                <p><b>Credit Percentage: </b>&nbsp;
                                    {{student['semesters'][selectedSem].credit_percentage.toFixed(3)}}%</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>{{selectedSem === 0? "CGPA: ": "SGPA: "}}</b>&nbsp;
                                    {{(student['semesters'][selectedSem].total_grade_points / (student['semesters'][selectedSem].max_credits)).toFixed(3)}}
                                </p>
                            </td>
                        </tr>
                    </table>
                    <!-- <p><b>Rank: </b>&nbsp; #{{student.rank}}</p> -->
                    <hr>
                    <div class="form-check" *ngIf="selectedSem !== 0">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="showMinorMajor">
                        <label class="form-check-label" for="exampleCheck1">&nbsp; Show Internal/External Marks</label>
                    </div>
                    <div class="form-check" *ngIf="selectedSem === 0">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2"
                            [(ngModel)]="showCreditMarks">
                        <label class="form-check-label" for="exampleCheck2">&nbsp; Show Credit Marks and
                            Percentage</label>
                    </div>
                    <br>
                    <table class="table table-striped table-sm" *ngIf="selectedSem !== 0">
                        <thead class="thead-dark">
                            <th>Subject</th>
                            <th *ngIf="showMinorMajor" style="white-space: nowrap;">Int. | Ext.</th>
                            <th>Marks</th>
                        </thead>
                        <tbody class="tbody">
                            <tr *ngFor="let subject of student['semesters'][selectedSem]['subjects']">
                                <td>{{subject.name}}</td>
                                <td *ngIf="showMinorMajor">{{subject.minor}} | {{subject.major}}</td>
                                <td>{{subject.marks}} ({{subject.grade}})</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-sm" *ngIf="selectedSem === 0">
                        <thead class="thead-dark">
                            <th>Sem</th>
                            <th>Marks</th>
                            <th>Percentage</th>
                            <th>SGPA</th>
                        </thead>
                        <tbody class="tbody">
                            <tr *ngFor="let semester of student['semesters'] | slice: 1; let i=index">
                                <td>Semester {{i+1}}</td>
                                <td *ngIf="!showCreditMarks">{{semester.total_marks}}/{{semester.max_marks}}</td>
                                <td *ngIf="!showCreditMarks">{{semester.percentage.toFixed(3)}}</td>
                                <td *ngIf="showCreditMarks">
                                    {{semester.total_credit_marks}}/{{semester.max_credit_marks}}</td>
                                <td *ngIf="showCreditMarks">{{semester.credit_percentage.toFixed(3)}}</td>
                                <td>{{((semester.total_grade_points / semester.max_credits) || 0).toFixed(3)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <ng-adsense></ng-adsense>
        </div>
    </div>

</div>

<div class="row" style="padding: 50px 0px;">
    <ngx-spinner bdOpacity=0 bdColor="#ffffff" size="medium" color="#000000" type="ball-atom" [fullScreen]="false">
        <p style="color: black; margin-top: 10rem;"> Fetching Data... </p>
    </ngx-spinner>
</div>