<h5 *ngIf="validStudent === -1" align="center">Sorry. No data for this enrollment number was found! 🐶</h5>
<div *ngIf="validStudent == 1">

    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4 col-sm-12 meme">
                    <img [src]="memeSrc" alt="meme" srcset="">
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: right; margin-top: 10px;">
                    <h4 class="display-5">{{student.name}} ({{student.enroll_no}})</h4>
                    <p>{{findCollegeName(student.insti_code)}}</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" [ngClass]="{active: selectedSem===sem}" *ngFor="let sem of sems"
                            (click)="tabChange(sem)">
                            <a class="nav-link">{{ sem === 0? 'Overall': ('Sem ' + sem) }}</a>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-12 jumbotron">
                            <table class="modal-data">
                                <tr>
                                    <td>
                                        <p><b>Marks: </b>&nbsp;
                                            {{student['semesters'][selectedSem].total_marks}} /
                                            {{student['semesters'][selectedSem].max_marks}}
                                        </p>
                                    </td>
                                    <td>
                                        <p><b>Percentage: </b>&nbsp;
                                            {{student['semesters'][selectedSem].percentage.toFixed(3)}} %</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Total Credit Marks: </b>&nbsp;
                                            {{student['semesters'][selectedSem].total_credit_marks}} /
                                            {{student['semesters'][selectedSem].max_credit_marks}}
                                        </p>
                                    </td>
                                    <td>
                                        <p><b>Credit Percentage: </b>&nbsp;
                                            {{student['semesters'][selectedSem].credit_percentage.toFixed(3)}} %</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>{{selectedSem === 0? "CGPA: ": "SGPA: "}}</b>&nbsp;
                                            {{(student['semesters'][selectedSem].total_grade_points / (student['semesters'][selectedSem].max_credits)).toFixed(3)}}
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <!-- <p><b>Rank: </b>&nbsp; #{{student.rank}}</p> -->
                            <hr>
                            <div class="row" style="height: 500px;" *ngIf="selectedSem !== 0">
                                <!-- <div class="col-sm-12"> -->
                                    <ngx-charts-bar-horizontal-stacked 
                                        [xAxis]="semesterChart.showXAxis" 
                                        [yAxis]="semesterChart.showYAxis"
                                        [showXAxisLabel]="semesterChart.showXAxisLabel" 
                                        [showYAxisLabel]="semesterChart.showYAxisLabel"
                                        [xAxisLabel]="semesterChart.xAxisLabel"
                                        [yAxisLabel]="semesterChart.yAxisLabel" 
                                        [showDataLabel]="semesterChart.showDataLabel"
                                        [legend]="semesterChart.showLegend"
                                        [legendPosition]="semesterChart.legendPosition"
                                        [roundDomains]="semesterChart.true"
                                        [view]=""
                                        [results]="semesterChart.data">
                                    </ngx-charts-bar-horizontal-stacked>
                                <!-- </div> -->
                            </div>
                            <div class="row" style="height: 250px;" *ngIf="selectedSem === 0">
                                <!-- <div class="col-sm-12"> -->
                                    <ngx-charts-line-chart 
                                        [xAxis]="overallPercentageChart.showXAxis" 
                                        [yAxis]="overallPercentageChart.showYAxis"
                                        [showXAxisLabel]="overallPercentageChart.showXAxisLabel" 
                                        [showYAxisLabel]="overallPercentageChart.showYAxisLabel"
                                        [xAxisLabel]="overallPercentageChart.xAxisLabel"
                                        [yAxisLabel]="overallPercentageChart.yAxisLabel" 
                                        [legend]="overallPercentageChart.showLegend"
                                        [legendPosition]="overallPercentageChart.legendPosition"
                                        [roundDomains]="overallPercentageChart.true"
                                        [view]=""
                                        [autoScale]="overallPercentageChart.autoScale"
                                        [results]="overallPercentageChart.data">
                                    </ngx-charts-line-chart>
                                <!-- </div> -->
                            </div>
                            <div class="row" style="height: 250px;" *ngIf="selectedSem === 0">
                                <!-- <div class="col-sm-12"> -->
                                    <ngx-charts-line-chart 
                                        [xAxis]="overallGpaChart.showXAxis" 
                                        [yAxis]="overallGpaChart.showYAxis"
                                        [showXAxisLabel]="overallGpaChart.showXAxisLabel" 
                                        [showYAxisLabel]="overallGpaChart.showYAxisLabel"
                                        [xAxisLabel]="overallGpaChart.xAxisLabel"
                                        [yAxisLabel]="overallGpaChart.yAxisLabel" 
                                        [legend]="overallGpaChart.showLegend"
                                        [legendPosition]="overallGpaChart.legendPosition"
                                        [roundDomains]="overallGpaChart.true"
                                        [view]=""
                                        [results]="overallGpaChart.data"
                                        [autoScale]=true>
                                    </ngx-charts-line-chart>
                                <!-- </div> -->
                            </div>

                            <br>
                            <div class="form-check" *ngIf="selectedSem !== 0">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                    [(ngModel)]="showMinorMajor">
                                <label class="form-check-label" for="exampleCheck1">&nbsp; Show Internal/External
                                    Marks</label>
                            </div>
                            <div class="form-check" *ngIf="selectedSem === 0">
                                <input type="checkbox" class="form-check-input" id="exampleCheck2"
                                    [(ngModel)]="showCreditMarks">
                                <label class="form-check-label" for="exampleCheck2">&nbsp; Show Credit Marks and
                                    Percentage</label>
                            </div>
                            <br>
                            <table class="table table-striped table-sm" *ngIf="selectedSem !== 0">
                                <thead class="thead-dark">
                                    <th>Subject</th>
                                    <th *ngIf="showMinorMajor" style="white-space: nowrap;">Int. | Ext.</th>
                                    <th>Marks</th>
                                </thead>
                                <tbody class="tbody">
                                    <tr *ngFor="let subject of student['semesters'][selectedSem]['subjects']">
                                        <td>{{subject.name}}</td>
                                        <td *ngIf="showMinorMajor">{{subject.minor}} | {{subject.major}}</td>
                                        <td>{{subject.marks}} ({{subject.grade}})
                                            <!-- <br> -->
                                            <span class="badge badge-danger" *ngIf="subject.marks < 40">
                                                Backlog
                                            </span>
                                            <span class="badge badge-dark" *ngIf="subject.grade.endsWith('*')">
                                                Reappear
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped table-sm" *ngIf="selectedSem === 0">
                                <thead class="thead-dark">
                                    <th>Sem</th>
                                    <th>Marks</th>
                                    <th>Percentage</th>
                                    <th>SGPA</th>
                                </thead>
                                <tbody class="tbody">
                                    <tr *ngFor="let semester of student['semesters'] | slice: 1; let i=index">
                                        <td>Semester {{i+1}}</td>
                                        <td *ngIf="!showCreditMarks">{{semester.total_marks}} / {{semester.max_marks}}
                                        </td>
                                        <td *ngIf="!showCreditMarks">{{semester.percentage.toFixed(3)}} %</td>
                                        <td *ngIf="showCreditMarks">
                                            {{semester.total_credit_marks}} / {{semester.max_credit_marks}}</td>
                                        <td *ngIf="showCreditMarks">{{semester.credit_percentage.toFixed(3)}} %</td>
                                        <td>{{((semester.total_grade_points / semester.max_credits) || 0).toFixed(3)}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <ng-adsense></ng-adsense>
        </div>
    </div>

</div>

<div class="row" style="padding: 50px 0px;">
    <ngx-spinner bdOpacity=0 bdColor="#ffffff" size="medium" color="#000000" type="square-loader" [fullScreen]="false">
        <p style="color: black; margin-top: 10rem;"> Fetching Data... </p>
    </ngx-spinner>
</div>