<div class="row">
    <div class="jumbotron col-md-8">
        <h1 class="display-4">IPU Ranklist</h1>
        <p class="lead">A minimalist Ranklist and Result application for IP University.</p>
        <hr class="my-4">
        <p>
            The application currently covers all the 18 Engineering Colleges affiliated with GGSIPU, 13 branches of
            engineering and all batches including & after 2015. Other college and courses like BBA, BCA, B.Com. will be
            added soon. This project is public and you can track progress on <a
                href="https://github.com/ankushgarg1998/ipu-ranklist" target="_blank">the GitHub Repo</a>. Please feel
            free to suggest features, report bugs or ask any questions by <a
                href="https://github.com/ankushgarg1998/ipu-ranklist/issues" target="_blank">raising an issue</a>.
        </p>
        <p class="btn-group">
            <a class="btn btn-primary btn-lg mr-1" [routerLink]="['/ranklist']" role="button">B. Tech. Ranklist</a>
            <a class="btn btn-primary btn-lg mr-1" [routerLink]="['/bca-ranklist']" role="button">BCA Ranklist</a>
            <a class="btn btn-primary btn-lg mr-1" [routerLink]="['/student']" role="button">Student Profile</a>
        </p>
        <br>
        <p>
            Update: <i>Hey, Announcing the launch of BCA's result (since 2015 batches, all colleges) on the website. Yay!</i>
        </p>
    </div>
    <div class="col-md-4" style="margin-bottom: 10px">
        <ng-adsense></ng-adsense>
        <ng-adsense></ng-adsense>
    </div>
</div>