<div class="col-md-10">
    <div *ngIf="isDataPresent">
        <!-- <p>*Click on your name to see subject-wise marks.</p> -->
        <div class="row form-group">
            <div class="col-xs-6 col-md-4">
                <input type="text" id="search" name="search" class="form-control" placeholder="Search"
                    (keyup)="onSearch($event)">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Enroll No.</th>
                        <th>Name</th>
                        <th>Marks</th>
                        <th>Percentage</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody id="idhar">
                    <tr *ngIf="list.length === 0">
                        <td colspan="5" align="center">
                            <h5>Sorry. No relevant data found! 😧</h5>
                        </td>
                    </tr>
                    <tr *ngFor="let item of list; let i = index" (click)="rowClicked(i)">
                        <td>{{ item.enroll_no }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.semester.total_marks }}/{{ item.semester.max_marks }}</td>
                        <td>{{ item.semester.percentage.toFixed(2) }}%</td>
                        <td>{{ item.rank }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row" style="padding: 50px 0px;">
        <ngx-spinner bdOpacity=0 bdColor="#ffffff" size="medium" color="#000000" type="ball-atom" [fullScreen]="false">
            <p style="color: black; margin-top: 10rem;"> Fetching Data... </p>
        </ngx-spinner>
    </div>
    <h5 *ngIf="!isDataPresent" align="center">Make your selections and click on Search to load the Ranklist.</h5>
</div>
<div class="col-md-2">
    <ng-adsense></ng-adsense>
    <ng-adsense></ng-adsense>
</div>